body {
    background-color: #000;
    color: #0F0;
    font: 1.2em monospace;
    margin-top: 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}

.stderr {
    color: #F00;
}